@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@600&display=swap');
body {
    overflow: hidden;
    margin: 0;
    color:black;
    font-family: 'Playfair', serif;
}

span{
    margin: 3px;
}

.disguise{
    display: none;
}

.containerGame {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.menu{
    height: 100vh;
    background: linear-gradient(50deg, black, gray);
    background-size: cover;
}   

.containerMenu{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.instructive , .playGame, .objects, .userExperience{
    border: 2px solid black;
    width: 450px;
    background-color: white;
    margin: 10px;
    padding: 5px;
}

.userExperience button{
    margin: 5px;
    justify-content: center;
}
.playGame{
    background: url(/img/background.jpg);
    background-size: cover;
}
.playGame button {
    margin-left: 40%;
}
.items{
    border: 2px solid black;
    margin: 10px;
    padding: 5px;
}

.items img{
    width: 32px;
    height: 30px;
}

.container,
.floor,
.path,
.bigRocks,
.tree,
.plains,
.distantPlains,
.sky {
    width: 100%;
    position: absolute;
}

/*----------------------------------------------------------------
    Parts of parrallax scrolling 
----------------------------------------------------------------*/

.floor {
    z-index: 7;
    bottom: 0px;
    height: 100px;
    background: url(/img/parallaxScrolling/0.png) repeat-x;
    background-size: 2500px 100%;
    animation: parallaxScrolling 20s linear infinite;
}

.path {
    z-index: 5;
    bottom: 23px;
    height: 200px;
    background: url(/img/parallaxScrolling/1.png) repeat-x;
    background-size: 2500px 100%;
    animation: parallaxScrolling 25s linear infinite;
}

.bigRocks {
    z-index: 4;
    bottom: 150px;
    height: 220px;
    background: url(/img/parallaxScrolling/2.png) repeat-x;
    background-size: 2500px 100%;
    animation: parallaxScrolling 30s linear infinite;
}

.tree {
    z-index: 3;
    bottom: 180px;
    height: 360px;
    background: url(/img/parallaxScrolling/3.png) repeat-x;
    background-size: 2500px 100%;
    animation: parallaxScrolling 35s linear infinite;
}

.plains {
    z-index: 2;
    bottom: 200px;
    height: 290px;
    background: url(/img/parallaxScrolling/4.png) repeat-x;
    background-size: 2500px 100%;
    animation: parallaxScrolling 45s linear infinite;
}

.distantPlains {
    z-index: 1;
    bottom: 200px;
    height: 300px;
    background: url(/img/parallaxScrolling/5.png) repeat-x;
    background-size: 2500px 100%;
    animation: parallaxScrolling 55s linear infinite;
}

.sky {
    z-index: -1;
    bottom: 300px;
    height: 400px;
    background: url(/img/parallaxScrolling/6.png) repeat-x;
    background-size: 2500px 100%;
    animation: parallaxScrolling 65s linear infinite;
}

/*----------------------------------------------------------------
    Characters and artifacts that interact with the character
----------------------------------------------------------------*/

.life{
    position: absolute;
    width: 200px;
    height: 100px;
    left: 25px;
    z-index: 7;
}

.collectible{
    position: absolute;
    z-index: 6;
    height: 25px;
    width: 50px;
    bottom: 300px;
}

.goldIngot{
    background: url(/img/collections/Ingotgold.png) no-repeat;
    background-size: 25px 28px;
    animation: moveElementBox 3s linear ;
}

.silverIngot{
    background: url(/img/collections/Ingotsilver.png) no-repeat;
    background-size: 25px 28px;
    animation: moveElementBox 3s linear ;
}

.chest{
    background: url(/img/collections/chest.png) no-repeat;
    background-size: 25px 28px;
    animation: moveElementBox 3s linear ;
}

.points{
    width: 120px;
    height: 50px;
    left: 88%;
    margin-top: 25px;
    z-index: 7;
    text-align: center;
    font-size: 18px;
    padding-bottom: 12px;
    position: absolute;
    border: 3px ridge black ;
    background-color: transparent;
    
}

#character,
.enemy {
    width: 100px;
    position: absolute;
}

#character {
    z-index: 6;
    height: 277px;
    width: 100px;
    bottom: 30px;
    left: 200px;
    background: url(/img/spriteSheet/spritesheet_gentleman_run.png) repeat-x;
    background-size: 1080px 220px;
}

.enemy {
    z-index: 6;
    height: 100px;
    width: 100px;
    bottom: 60px;
    left: 80%;
    background: url(/img/spriteSheet/spritesheet_enemy_run.png) repeat-x;
    background-size: 900px 100px;
}

.walk {
    animation: walking .8s steps(8) infinite , moveEnemyBox 3s linear ;
    -webkit-animation: walking .8s steps(8) infinite , moveEnemyBox 3s linear ;
}

.run {
    animation: run .8s steps(8) infinite;
}


.jump {
    animation: jumping 600ms linear;
    -webkit-animation: jumping 600ms linear;
}




@keyframes moveEnemyBox {
    from {
        left: 100%;
    }

    to {
        left: -10%;
    }
}

@keyframes moveElementBox {
    from {
        left: 100%;
    }

    to {
        left: -10%;
    }
}

@keyframes jumping {
    0% {
        bottom: 30px;
    }

    25% {
        bottom: 60px;
    }

    50% {
        bottom: 90px;
    }

    75% {
        bottom: 60px;
    }

    100% {
        bottom: 30px;
    }
}

@keyframes run {
    0% {
        background-position: 0
    }

    100% {
        background-position: -1088px
    }
}

@keyframes walking {
    0% {
        background-position: 0
    }

    100% {
        background-position: -880px;
    }
}

/*----------------------------------------------------------------
    Animation for parallax scrolling
----------------------------------------------------------------*/

@keyframes parallaxScrolling {
    0% {
        background-position: 5000PX
    }

    100% {
        background-position: 0
    }
}