body {
    overflow: hidden;
    margin: 0;
}

.container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.container,
.floor,
.path,
.bigRocks,
.tree,
.plains,
.distantPlains,
.sky {
    width: 100%;
    position: absolute;
}

/*----------------------------------------------------------------
    Parts of parrallax scrolling 
----------------------------------------------------------------*/

.floor {
    z-index: 7;
    bottom: 0px;
    height: 100px;
    background: url(/img/parallaxScrolling/0.png) repeat-x;
    background-size: 2500px 100%;
    animation: parallaxScrolling 20s linear infinite;
    -webkit-animation: parallaxScrolling 20s linear infinite;
}

.path {
    z-index: 5;
    bottom: 23px;
    height: 200px;
    background: url(/img/parallaxScrolling/1.png) repeat-x;
    background-size: 2500px 100%;
    animation: parallaxScrolling 25s linear infinite;
    -webkit-animation: parallaxScrolling 25s linear infinite;
}

.bigRocks {
    z-index: 4;
    bottom: 150px;
    height: 220px;
    background: url(/img/parallaxScrolling/2.png) repeat-x;
    background-size: 2500px 100%;
    animation: parallaxScrolling 30s linear infinite;
    -webkit-animation: parallaxScrolling 30s linear infinite;
}

.tree {
    z-index: 3;
    bottom: 180px;
    height: 360px;
    background: url(/img/parallaxScrolling/3.png) repeat-x;
    background-size: 2500px 100%;
    animation: parallaxScrolling 35s linear infinite;
    -webkit-animation: parallaxScrolling 35s linear infinite;
}

.plains {
    z-index: 2;
    bottom: 200px;
    height: 290px;
    background: url(/img/parallaxScrolling/4.png) repeat-x;
    background-size: 2500px 100%;
    animation: parallaxScrolling 45s linear infinite;
    -webkit-animation: parallaxScrolling 45s linear infinite;
}

.distantPlains {
    z-index: 1;
    bottom: 200px;
    height: 300px;
    background: url(/img/parallaxScrolling/5.png) repeat-x;
    background-size: 2500px 100%;
    animation: parallaxScrolling 55s linear infinite;
    -webkit-animation: parallaxScrolling 55s linear infinite;
}

.sky {
    z-index: -1;
    bottom: 300px;
    height: 400px;
    background: url(/img/parallaxScrolling/6.png) repeat-x;
    background-size: 2500px 100%;
    animation: parallaxScrolling 65s linear infinite;
    -webkit-animation: parallaxScrolling 65s linear infinite;
}

/*----------------------------------------------------------------
    Characters and their animations
----------------------------------------------------------------*/

#character,
.enemy {
    width: 100px;
    position: absolute;
}

#character {
    z-index: 6;
    height: 277px;
    width: 100px;
    bottom: 30px;
    left: 200px;
    background: url(/img/spriteSheet/spritesheet_gentleman_run.png) repeat-x;
    background-size: 1080px 220px;
}

.enemy {
    z-index: 6;
    height: 147px;
    width: 100px;
    bottom: 28px;
    left: 80%;
    background: url(/img/spriteSheet/spritesheet_enemy_run.png) repeat-x;
    background-size: 900px 90px;
}

.walk {
    animation: walking .8s steps(8) infinite;
    animation: moveEnemyBox 3s linear ;
}

.run {
    animation: run .8s steps(8) infinite;
}

.jump {
    animation: jumping 600ms linear;
    -webkit-animation: jumping 600ms linear;
}


@keyframes moveEnemyBox {

    /* 0% {
        left: calc(100% - 100px);
    }

    100% {
        left: 0;    
    } */

    from {
        left: 100%;
    }

    to {
        left: -10%;
    }
}

@keyframes jumping {
    0% {
        bottom: 30px;
    }

    25% {
        bottom: 60px;
    }

    50% {
        bottom: 90px;
    }

    75% {
        bottom: 60px;
    }

    100% {
        bottom: 30px;
    }
}

@keyframes run {
    0% {
        background-position: 0
    }

    100% {
        background-position: -1088px
    }
}

@keyframes walking {
    0% {
        background-position: 0
    }

    100% {
        background-position: -900px;
    }
}

/*----------------------------------------------------------------
    Animation for parallax scrolling
----------------------------------------------------------------*/

@keyframes parallaxScrolling {
    0% {
        background-position: 5000PX
    }

    100% {
        background-position: 0
    }
}